[submodule "ext_libs/eigen-git-mirror"]
	path = ext_libs/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "ext_libs/CLI11"]
	path = ext_libs/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "ext_libs/googletest"]
	path = ext_libs/googletest
	url = https://github.com/google/googletest.git
